#transformers
sentence-transformers
transformers
sentencepiece


#pdf lib
PyPDF2
pdfplumber
pytesseract
pdf2image

#api
fastapi
uvicorn[standard]
python-multipart

#utils
dotenv
aiofiles

#laqnchain tools
langchain
langchain-openai
langchain_ollama

#vector db
qdrant-client==1.15.0

#rag
rank_bm25